@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html, body {
    height: 100vh;
}

.wrapper {
    height: 100vh;
}
.wrapper header {
    background-color: #fff;
    height: 60px;
    overflow: hidden;
}

.wrapper .header__top {
    position: relative;
}
.wrapper .header__top_left {
    position: absolute;
    left: 30px; top: 15px;
}
.wrapper .header__top_left .date {
    padding-left: 45px;
    height: 26px;
    line-height: 26px;
    font-size: 20px;
    background: url(../img/icon-menu.png) no-repeat left center;
    color: #333333;
}

.wrapper .header__top_center {
    text-align: center;
    padding-top: 15px;
}
.wrapper .header__top_center p {
    height: 26px;
    line-height: 26px;
    font-size: 20px;
    color: #333333;
    vertical-align: top;
}
.wrapper .header__top_center p em {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    width: 52px;
    height: 26px;
    background: url(../img/icon-logo.png) no-repeat left center;
}

.wrapper .header__top_right {
    position: absolute;
    top: 15px; right: 30px;
}
.wrapper .header__top_right .time {    
    height: 26px;
    line-height: 26px;
    font-size: 20px;
    background: url(../img/icon-clock.png) no-repeat left center;
    color: #333333;
    text-align: right;
    width: 90px;
}

.wrapper main {
    background-color: yellow;
    height: calc(100vh - 60px);
}

.cell-rows {
    height: 33.33333%;
    display: flex;         
    flex: 1 1 1 1;
    justify-content: center; 
    align-items: center;   
}

.cell {
    background: #454954;
    height: 100%;
    width: 25%;
    padding: 10px;
}

.cell-rows:first-child .cell {
    padding-top: 20px;
}
.cell-rows .cell:first-child {
    padding-left: 30px;
}
.cell-rows .cell:last-child {
    padding-right: 30px;
}
.cell-rows:last-child .cell {
    padding-bottom: 20px;
}

.cell .cell-layout {
    position: relative;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    border: solid 2px #fff;
}

.cell .cell-layout .no-bg {
    position: absolute;
    top: -30px; left: -30px;
    width: 90px;
    height: 90px;
    background-color: #454954;
    border-radius: 90px;
    z-index: 100;
}
.cell.on .no-bg { 
    background-color: #a0549f; 
}
.cell .cell-layout .no {
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    color: #fff;
    z-index: 101;
    text-align: center;
    font-weight: bold;
}

.cell .order-no {
    margin-top: 45px;
    text-align: center;
    line-height: 70px;
    font-size: 70px;
}

.cell .status {
    text-align: center;
    margin-top: 45px;
}

.cell.on .status {
    text-align: center;
    margin-top: 0;
}

.cell .icon-time {
    padding-top: 50px;
    display: inline-block;
    background: url(../img/icon-box.png) no-repeat top center;            
    box-sizing: border-box;
    width: 90px;
    line-height: 20px;
    font-size: 18px;
}
.cell .icon-lock {
    margin-right: 10px;
    padding-top: 50px;
    display: inline-block;
    background: url(../img/icon-lock.png) no-repeat top center;            
    box-sizing: border-box;
    width: 90px;
    line-height: 20px;
    font-size: 18px;
}
.cell .icon-unlock {
    margin-right: 10px;
    padding-top: 50px;
    display: inline-block;
    background: url(../img/icon-unlock.png) no-repeat top center;            
    box-sizing: border-box;
    width: 90px;
    line-height: 20px;
    font-size: 18px;
}

.cell .icon-add {
    padding-top: 120px;
    display: inline-block;
    background: url(../img/icon-add.png) no-repeat top center;            
    box-sizing: border-box;
    width: 110px;
    line-height: 20px;
    font-size: 18px;
    cursor: pointer;
}

/*
.cell-rows .cell { background-color: #ff0000; }
.cell-rows .cell:first-child { background-color: #ffff00; }
.cell-rows .cell:last-child { background-color: #ffffff; }
.cell-rows .cell:nth-child(4n-1) { background-color: #00ffff; }
.cell-rows:first-child .cell { background-color: #00ff00; }
.cell-rows:first-child .cell:first-child { background-color: #00ffff; }
.cell-rows:first-child .cell:last-child { background-color: #0000ff; }
.cell-rows:first-child .cell:nth-child(4n-1) { background-color: #ff00ff; }
.cell-rows:last-child .cell { background-color: #f00000; }
.cell-rows:last-child .cell:first-child { background-color: #00f000; }
.cell-rows:last-child .cell:last-child { background-color: #00000f; }
.cell-rows:last-child .cell:nth-child(4n-1) { background-color: #00f00f; }
*/






.popup-dim {
    position: fixed;
    left:0; top:0; right: 0; bottom: 0;
    background-color: #000;
    opacity: 0.4;
    z-index: 100;
}
.popup-section {
    position: fixed;
    left:0; top:0; right: 0; bottom: 0;
    z-index: 101;
}
.popup-form {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;    
}
.popup-form > .layout {
    width: 50%;
    border:solid 3px #454954;
    border-radius: 5px;
    background-color: #fff;
    
    position: relative;
}

.popup-form > .layout .right-status {
    position: absolute;
    top: 0; right: -110px;
}
.popup-form > .layout .right-status .status-box {
    position: relative;
    width: 90px;
    background-color: #fff;
    text-align: center;
    border:solid 3px #454954;
    border-radius: 5px;
}
.popup-form > .layout .right-status .status-box .arr {
    position: absolute;
    top: 15px; left: -15px;
    width: 22px;
    height: 42px;
    background: url(../img/popup-arr.png) no-repeat right center;
}

.popup-form > .layout .right-status .status-box .title {
    padding: 6px 10px;
    line-height: 30px;
    font-size: 24px;
    color: #fff;
    background-color: #454954;
}

.popup-form > .layout .right-status .status-box .status {
    padding: 20px 10px 10px 10px;
    line-height: 30px;
    font-size: 24px;
    color: #fff;
    background-color: #fff;
}

.popup-form > .layout .right-status .status-box .status .icon-lock {
    margin-right: 10px;
    padding-top: 50px;
    display: inline-block;
    background: url(../img/icon-lock.png) no-repeat top center;            
    box-sizing: border-box;
    width: 100%;
    line-height: 20px;
    font-size: 18px;
    color: #333333;
}




.popup-form header {
    height: 76px;
    line-height: 76px;      
    font-size: 36px;
    background-color: #454954;
    color: #fff;
    text-align: center;            
}
.popup-form header .title {
    position: relative;
    overflow: hidden;
}
.popup-form header .title em {
    height: 76px;
    line-height: 76px;      
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
}
.popup-form header .no-bg {
    position: absolute;
    top: -75px; left: -65px;
    width: 160px;
    height: 160px;
    background-color: #a0549f; 
    border-radius: 160px;
    z-index: 100;
}
.popup-form header .no {
    position: absolute;
    width: 60px;
    height: 76px;
    line-height: 76px;
    font-size: 36px;
    color: #fff;
    z-index: 101;
    text-align: center;
    font-weight: bold;
}
.popup-form header .title .btn-close {
    position: absolute;
    right: 25px; top: 20px;

    width: 38px;
    height: 38px;
    background: transparent url(../img/btn-popup-close.png) no-repeat center center;
    border-width: 0;
    cursor: pointer;
}

.popup-form section.pop-contents {
    height: 400px;
}
.popup-form section.pop-contents .order-list {
    padding: 0 30px;
}
.popup-form section.pop-contents .order-list li {
    border-bottom: solid 1px #dadbdd;
}
.popup-form section.pop-contents .order-list li:first-child {
    border-top: solid 1px #dadbdd;
}
.popup-form section.pop-contents .order-list li p {
    position: relative;
    height: 90px;
    line-height: 90px;
    font-size: 30px;
}
.popup-form section.pop-contents .order-list li p .count {
    position: absolute;
    top: 0; right: 0;
}

.popup-form footer {
    height: 80px; 
    padding-bottom: 10px;
}
.popup-form footer .action-button {    
    display: flex;         
    height: 100%;
    flex: 1 1 1;
    justify-content: center; 
    align-items: center;   
}

.popup-form footer .action-button button {
    background: #454954;
    height: 100%;
    width: 33.3333%;
    margin: 0 5px 0px 5px;
    font-size: 30px;
    color: #fff;
    border-width: 0;
    border-radius: 5px;;
}
.popup-form footer .action-button button:first-child {
    margin-left: 10px;
}
.popup-form footer .action-button button:last-child {
    margin-right: 10px;
}
.popup-form footer .action-button button.btn-recall {
    background: #4573ac;
}
.popup-form footer .action-button button.btn-ok {
    background: #6daa31;
}
.popup-form footer .action-button button.btn-cancel {
    background: #454954;
}